body {
    font-family: Helvetica,Arial,sans-serif;
    background-color: #E6E6E6;
    font-size: 14px;
}

.header-link A {
    color: #6A6A6A;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.header-link A:hover {
    color: #969696;
    text-transform: uppercase;
}

.wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    width: 80%;
    border: 1px solid #5D5D5D;
    background-color: #FFFFFF;
    padding-bottom: 10px;
    min-height: 750px;
}

.content {
    width: 90%;
    margin-left: 5%;
}

.middle {
    margin-left: 30%;
    margin-top: 25%;
    padding: 10px;
    width: 40%;
}

#header-wrapper {
    padding: 1px;
}

#header {
    margin-top: 10px;
    margin-left: 10%;
    text-align: left;
    font-size: 10px;
    margin-right: 200px;
    float: left;
}

#header-right {
    margin-top: 10px;
    margin-right: 10%;
    margin-left: 10%;
    text-align: left;
    font-size: 10px;
    float: right;
}

#account-header {
    margin-top: 5px;
    margin-bottom: 5px;
}

.account-header-link A {
    color: #6A6A6A;
    text-decoration: none;
}

.account-header-link A:hover {
    color: #969696;
}

.account-field {
    width: 120px;
    float: left;
    margin: 5px;
}

.account-value {
    width: 600px;
    margin: 5px;
}

input[type="text"], input[type="password"] {
    width: 300px;
}

select {
    width: 305px;
}

#account_transaction_list, #account_list {
    width: 100%;
    font-size: 11px;
}

#account_transaction_list TH, #account_list TH {
    text-align: left;
    border-bottom: 1px solid;
}

#account_transaction_list TD #account_list TD {
    width: 25%;
}

.flash-message-success {
    padding: 2px;
    border: 1px solid #e5e5e5;
    background: #f9f9f9;
    width: 100%;
}

.flash-message-error {
    padding: 2px;
    border: 1px solid #e5e5e5;
    background: #f9f9f9;
    width: 100%;
}

.flash-message-image {
    width: 22px;
    float: left;
}

